* {
  margin: 0;
  padding: 0;
}

.box {
  text-align: center;
  color: white;
}

.box-one {
  background-color: #000;
}

.box-two {
  background-color: aqua;
}

.box-three {
  background-color: blue;
}

h3 {
  text-align: right;
  background-color: orange;
}